@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --color-background: #ffffff;
  --color-foreground: #18181b;
  --color-primary: #18181b;
  --color-secondary: #52525b;
  --color-tertiary: #71717a;
  --color-muted: #a1a1aa;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3 {
    @apply text-zinc-900 tracking-tight font-bold text-balance;
  }

  h4,
  h5,
  h6 {
    @apply font-sans text-zinc-900 tracking-tight;
  }

  /* .text-muted {
    @apply text-zinc-400;
  } */
}
